@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-size: 100%;
    background: linear-gradient(to left, rgb(87, 139, 173), rgb(39, 98, 138));
    color: white;
}

.topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgb(223, 222, 222);
}

.logo-topo{
    height: 50px;
    margin-right: 700px;
}

.botoes-topo{
    margin-left: 200px;
    display:flex;
    gap: 40px;
    list-style: none;
}

.botao-topo{
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;   
}

.botao-topo:hover{
    color: white;
}

.meio{
    border-top: 2.5px solid rgb(0, 0, 0);
}

.titulo-lado-conteudo-meio{
    margin-left: 50px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.titulo-lado-conteudo-meio span{
    color: rgb(95, 179, 84);
}

.conteudo-meio{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.centro-conteudo-meio{
  display: flex;
  flex-direction: column;
}

.texto-centro-conteudo-meio{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-right: 20px;
}

.titulo-centro-conteudo-meio{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 270px;
    font-size: 36px;
    font-family: 'Noto Sans', sans-serif;
}

.titulo-centro-conteudo-meio span{
    color: rgb(95, 179, 84);
}

.paragrafo-centro-conteudo-meio{
    display:flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    padding-right: 100px;
    padding-left: 50px;
}

.ilustracao-conteudo-meio{
    height: 82%;
    width: 82%;
}

.rodape{
    background: linear-gradient(to right, rgb(87, 139, 173), rgb(39, 98, 138));
    border-top: 4.5px solid rgb(0, 0, 0);
}

.copyright-rodape{
    margin-top: 4.5px;
    margin-left: 750px;
}