@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background: linear-gradient(to left, rgb(87, 139, 173), rgb(39, 98, 138));
    color: white;
}

.topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgb(223, 222, 222);
}

.logo-topo{
    height: 50px;
    margin-right: 700px;
}

.botoes-topo{
    margin-left: 200px;
    display:flex;
    gap: 40px;
    list-style: none;
}

.botao-topo{
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;   
}

.botao-topo:hover{
    color: white;
}

.meio{
    border-top: 2.5px solid rgb(0, 0, 0);
}

.secao1{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 300px;
}

.lista{
    margin-right: 250px;
    display:flex;
    flex-direction: column;
    
}

.titulo-lista1{
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    margin-left: 75px;
}

.titulo-lista1 span{
    color: rgb(95, 179, 84);
    font-weight: 600;
}

.item-lista1{
    margin-top: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px; 
}

.imagem-meio{
    height: 20%;
    width: 20%;
    margin-right: 400px;
    margin-bottom: 42px;
}

.secao2{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.texto-secao2{
    margin-bottom: 80px;
}

.titulo-secao2{
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    margin-left: 350px;
}

.titulo-secao2 span{
    color: rgb(95, 179, 84);
    font-weight: 600;
}

.paragrafo-secao2{
    display:flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 150px;
    font-family: 'Noto Sans', sans-serif;
}

.meio-ilustracao{
    margin-right: 100px;
    height: 35%;
    width: 35%;
}

.rodape{
    background: linear-gradient(to right, rgb(87, 139, 173), rgb(39, 98, 138));
    border-top: 4.5px solid rgb(0, 0, 0);
}

.copyright-rodape{
    margin-left: 750px;
}